nav{
background-color: blueviolet;

}

#covidL{
text-align: center;
}

#coraI{
    width: 100%;

}

#pulm{
    width: 100%;
    height: 70%;
}

#cuidados{

width: 100%;

}

#Col{
    width: 100%;
    height: 70%;

}

#logo{
    width: 50%;
    height: 100%;
}